* {
    font-family: SpaceMono Nerd Font, feather;
    font-weight: 900;
    font-size: 14px;
    color: #c0caf5;
  }
  
  /* Set background color of main waybar window */
  window#waybar {
    background: rgba(21, 22, 30, 0.3);
  }
  
  /* Set background color of tooltips */
  tooltip {
    background: #1e1e2e;
  }
  
  /* Set workspace text color and padding */
  #workspaces button {
    padding: 0;
  }
  
  /* Sets active workspace to have a solid line on the bottom */
  #workspaces button.active {
    border-bottom: 2px solid #7aa2f7;
    border-radius: 0;
    margin-bottom: 2px;
  }
  
  /* More workspace stuff for highlighting on hover */
  #workspaces button.focused {
    color: #a6adc8;
  }
  
  #workspaces button.urgent {
    color: #f7768e;
  }
  
  #workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
  }
  
  /* Sets background, padding, margins, and borders for (all) modules */
  #custom-kernel,
  #custom-pacman,
  #workspaces,
  #clock,
  #window,
  #temperature,
  #cpu,
  #memory,
  #pulseaudio,
  #tray,
  #mpd,
  #idle_inhibitor,
  #backlight,
  #battery {
    background: rgba(21, 22, 30, 0.7);
    padding: 0 10px;
    margin: 3px 0;
    border: 0;

    border-radius: 5px;
    margin-left: 4px;
  }
  
  #window.empty {
    background: rgba(0, 0, 0, 0);
  }
  
  #workspaces {
    margin-left: 0;
  }

  /* Set up rounding to make these modules look like separate pills */
  #mpd,
  #tray {
    border-radius: 8px;
    margin-left: 4px;
  }

  #window {
    border-radius: 8px;
  }

  #idle_inhibitor,
  #backlight,
  #battery {
    padding: 0 15px;
  }
  
  /* Rounding only on left of module */
  /* #temperature {
    border-radius: 8px 0 0 8px;
  } */
  
  /* Rounding only on right of module(s) */
  /* #custom-pacman,
  #custom-kernel {
    border-radius: 0 8px 8px 0;
  } */
  