/*https://forum.vivaldi.net/topic/10629/vivaldi-ui-customisations/2*/

body {
    --dark1: #333e;
    --dark2: #333c;
    --colorFgFaded: #ccc;
}


::selection {
    background-color: #307d;
    color: white;
}

::-webkit-scrollbar {
    width: 10px !important;
}

#app #browser #header {
    min-height: 0
}

#browser:before {
    content: "";
    background-color: var(--colorAccentBg);
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("customResources/pixel_rain_train_house.gif");
    background-repeat: no-repeat;
    background-size: cover;
    z-index:0;
    filter:blur(3px);
}
/* #main:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top left, transparent 48%, var(--colorAccentBg) 50%, transparent 52%);
  background-size: 500% 500%;
  animation: gradient 10s linear infinite;
  z-index:0;
} */


@keyframes gradient {
    from{background-position:100% 100%}
    to{background-position:0}
}


nav.startpage-navigation button:after, .toolbar, #tabs-container, div.inner, div#switch, div#header, #browser div#main, div.app {
    background: none !important;
}

nav.startpage-navigation {
    background: #3333 !important;
}

div.tab-strip span div {
    background-color: var(--dark2);
}
.tab-group-indicator div {
    height: 10px;
}


/* Remove header */
#browser:not(tabs-top) #header {
    max-height: 0;
    min-height: 0;
}

/* Panel */
div.panel-group {
    background: none;
}
div.panel-group > div > div > header {
    background-color: var(--dark1);
}div.panel-group > div > div > section {
     background-color: var(--dark1);
 }

/* Settings */
.vivaldi-settings {
    background: none !important;
}
.settings-content {
    background-color: var(--dark2) !important;
}
.settings-sidebar {
    background-color: var(--dark1) !important;
}


/* Startpage */
div.startpage {
    background: none !important;
}
.manager .manager-content {
    background: none;
}
nav.startpage-navigation {
    background-color: var(--dark1) !important;
}

div.manager div.toolbar {
    background-color: var(--dark1) !important;
}
div.manager-editor {
    background: none;
}
div.manager-editor > div {
    background-color: var(--dark1);
}
.manager-treeview {
    /*   background-color: var(--dark2); */
}

.vivaldi-tree {
    background-color: var(--dark2);
}




/* Not mine */

/* Keep Vivaldi button */
#browser .vivaldi  {
    z-index: 1;
    padding-top: 5px !important;
}

/* Keep horizontal menu */
#browser .topmenu {
    position: absolute;
}

/* Reduce toolbar size for vivialdi button */
#browser:not(.tabs-top) .toolbar.toolbar-addressbar {
    padding-left: 24px;
}

/* Reduce toolbar size for horizontal menu */
/*:-webkit-any(.native, .maximized).horizontal-menu#browser:not(.tabs-top) .toolbar.toolbar-addressbar {*/
.horizontal-menu#browser:not(.tabs-top) .toolbar.toolbar-addressbar {
    padding-left: 267px;
}

/* Non-Native window fixes */

/* Keep window buttons */
#browser .window-buttongroup {
    z-index: 1;
    /*not*/
    display: none !important;
}

/* Reduce toolbar size for window buttons */
.maximized#browser:not(.native):not(.tabs-top) .toolbar.toolbar-addressbar {
    padding-right: 140px;
}

/* Adjust horizontal menu position */
.maximized#browser:not(.native) .topmenu {
    left: -30px;
}

/* Remove vivaldi button, horizontal menu and window buttons when no ui */
.maximized.minimal-ui#browser :-webkit-any(.vivaldi, .topmenu, .window-buttongroup) {
    display: none !important;
}

/* Tabs on top fixes */

/* Maximized not Native - Reduce tab bar size for horizontal menu and window buttons */
.maximized.horizontal-menu#browser:not(.native) #tabs-container.top {
    padding-left: 276px !important;
    padding-right: 140px !important;
}

/* Native - Reduce tab bar size for horizontal menu and window buttons */
.native.horizontal-menu#browser #tabs-container.top {
    padding-left: 276px !important;
}

/* Hide menu when fullscreen */
#browser.fullscreen button.vivaldi {
    display: none;
}
