/*
experimental slanted tabs
vivaldi-stable --user-data-dir=/tmp/vivaldi-debug/ --debug-packed-apps --silent-debugger-extension-api
 */
.tab-position {
    transform: rotate(40deg);
    z-index: 0 !important;
}

#header {
    height: 50px;
    max-height: 50px !important;
}